
.Rhistory
.Rproj.user/19FD88E3/pcs/debug-breakpoints.pper
.Rproj.user/19FD88E3/pcs/files-pane.pper
.Rproj.user/19FD88E3/pcs/source-pane.pper
.Rproj.user/19FD88E3/pcs/windowlayoutstate.pper
.Rproj.user/19FD88E3/pcs/workbench-pane.pper
.Rproj.user/19FD88E3/rmd-outputs
.Rproj.user/19FD88E3/saved_source_markers
.Rproj.user/19FD88E3/sources/prop/025541BA
.Rproj.user/19FD88E3/sources/prop/045454E1
.Rproj.user/19FD88E3/sources/prop/10D6613E
.Rproj.user/19FD88E3/sources/prop/1E7819AD
.Rproj.user/19FD88E3/sources/prop/1EB387DC
.Rproj.user/19FD88E3/sources/prop/26239323
.Rproj.user/19FD88E3/sources/prop/2B8CC07A
.Rproj.user/19FD88E3/sources/prop/2CEC60E5
.Rproj.user/19FD88E3/sources/prop/3784A907
.Rproj.user/19FD88E3/sources/prop/3946FB09
.Rproj.user/19FD88E3/sources/prop/52F74065
.Rproj.user/19FD88E3/sources/prop/5FA0B6E5
.Rproj.user/19FD88E3/sources/prop/677B328F
.Rproj.user/19FD88E3/sources/prop/6990D5DB
.Rproj.user/19FD88E3/sources/prop/A6E7218B
.Rproj.user/19FD88E3/sources/prop/AD705BE7
.Rproj.user/19FD88E3/sources/prop/B435290C
.Rproj.user/19FD88E3/sources/prop/BBC74343
.Rproj.user/19FD88E3/sources/prop/BD5337BF
.Rproj.user/19FD88E3/sources/prop/E0297497
.Rproj.user/19FD88E3/sources/prop/E2713BC1
.Rproj.user/19FD88E3/sources/prop/E5633FFC
.Rproj.user/19FD88E3/sources/prop/EF4AFD44
.Rproj.user/19FD88E3/sources/prop/FC6DD7DF
.Rproj.user/19FD88E3/sources/prop/FC90EF9C
.Rproj.user/19FD88E3/sources/prop/INDEX
.Rproj.user/19FD88E3/sources/s-16B9DFAC/0A306969
.Rproj.user/19FD88E3/sources/s-16B9DFAC/0A306969-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/11ED427D-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/1CD0B72D-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/3F6BDD06
.Rproj.user/19FD88E3/sources/s-16B9DFAC/3F6BDD06-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/450C4BD3-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/550B6035
.Rproj.user/19FD88E3/sources/s-16B9DFAC/550B6035-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/56A06A9C-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/61F9B608-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/68D085EE-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/6C9B879F
.Rproj.user/19FD88E3/sources/s-16B9DFAC/6C9B879F-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/8079CD2B-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/891A1579
.Rproj.user/19FD88E3/sources/s-16B9DFAC/891A1579-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/95ADE2B2
.Rproj.user/19FD88E3/sources/s-16B9DFAC/95ADE2B2-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/A2A31A5D
.Rproj.user/19FD88E3/sources/s-16B9DFAC/A2A31A5D-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/BEE92FDA
.Rproj.user/19FD88E3/sources/s-16B9DFAC/BEE92FDA-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/D62D6433-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/D6B42DF1-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/DA26867A-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/DEC0BE8E
.Rproj.user/19FD88E3/sources/s-16B9DFAC/DEC0BE8E-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/EABBBB48
.Rproj.user/19FD88E3/sources/s-16B9DFAC/EABBBB48-contents
.Rproj.user/19FD88E3/sources/s-16B9DFAC/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.RData
.Rproj.user/19FD88E3/sources/per/t/0A306969
.Rproj.user/19FD88E3/sources/per/t/0A306969-contents
.Rproj.user/19FD88E3/sources/per/t/3F6BDD06
.Rproj.user/19FD88E3/sources/per/t/3F6BDD06-contents
.Rproj.user/19FD88E3/sources/per/t/4B9EE154
.Rproj.user/19FD88E3/sources/per/t/4B9EE154-contents
.Rproj.user/19FD88E3/sources/per/t/550B6035
.Rproj.user/19FD88E3/sources/per/t/550B6035-contents
.Rproj.user/19FD88E3/sources/per/t/637DD6F5
.Rproj.user/19FD88E3/sources/per/t/637DD6F5-contents
.Rproj.user/19FD88E3/sources/per/t/6C9B879F
.Rproj.user/19FD88E3/sources/per/t/6C9B879F-contents
.Rproj.user/19FD88E3/sources/per/t/73B6D89A
.Rproj.user/19FD88E3/sources/per/t/73B6D89A-contents
.Rproj.user/19FD88E3/sources/per/t/891A1579
.Rproj.user/19FD88E3/sources/per/t/891A1579-contents
.Rproj.user/19FD88E3/sources/per/t/95ADE2B2
.Rproj.user/19FD88E3/sources/per/t/95ADE2B2-contents
.Rproj.user/19FD88E3/sources/per/t/A2A31A5D
.Rproj.user/19FD88E3/sources/per/t/A2A31A5D-contents
.Rproj.user/19FD88E3/sources/per/t/D6878F79
.Rproj.user/19FD88E3/sources/per/t/D6878F79-contents
.Rproj.user/19FD88E3/sources/per/t/DCDAAF9E
.Rproj.user/19FD88E3/sources/per/t/DCDAAF9E-contents
.Rproj.user/19FD88E3/sources/per/t/EABBBB48
.Rproj.user/19FD88E3/sources/per/t/EABBBB48-contents
.Rproj.user/19FD88E3/sources/prop/47456CA0
.Rproj.user/19FD88E3/sources/s-1F973E98/0A306969
.Rproj.user/19FD88E3/sources/s-1F973E98/0A306969-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/211276AE-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/3F6BDD06
.Rproj.user/19FD88E3/sources/s-1F973E98/3F6BDD06-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/4B9EE154
.Rproj.user/19FD88E3/sources/s-1F973E98/4B9EE154-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/550B6035
.Rproj.user/19FD88E3/sources/s-1F973E98/550B6035-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/637DD6F5
.Rproj.user/19FD88E3/sources/s-1F973E98/637DD6F5-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/6C9B879F
.Rproj.user/19FD88E3/sources/s-1F973E98/6C9B879F-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/891A1579
.Rproj.user/19FD88E3/sources/s-1F973E98/891A1579-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/95ADE2B2
.Rproj.user/19FD88E3/sources/s-1F973E98/95ADE2B2-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/A2A31A5D
.Rproj.user/19FD88E3/sources/s-1F973E98/A2A31A5D-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/B917638F-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/DCDAAF9E
.Rproj.user/19FD88E3/sources/s-1F973E98/DCDAAF9E-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/DD7CCA5F-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/DEC0BE8E
.Rproj.user/19FD88E3/sources/s-1F973E98/DEC0BE8E-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/E5E93BF5
.Rproj.user/19FD88E3/sources/s-1F973E98/E5E93BF5-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/EABBBB48
.Rproj.user/19FD88E3/sources/s-1F973E98/EABBBB48-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/F873C5A1-contents
.Rproj.user/19FD88E3/sources/s-1F973E98/lock_file
